keras==2.6.0
Keras-Preprocessing==1.1.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
numpy==1.19.5
opencv-python==4.4.0.46
matplotlib==3.4.3
matplotlib-inline==0.1.3